body{
    font-family: 'Montserrat', sans-serif; 
}

div#container{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0% !important;
}
#header{
    height: 100%;
   /*  display: flex;
    align-items: center; */
    margin: auto;
    padding-bottom: 100px;
    width: 90%;
}

    #header h1{
    font-size: 3.7rem;
    font-weight: 700;
    margin-top: 75px;
    text-align:left;

    }
    #header img{
        margin-top: 75px;
        width: 80%;
        height: 80%;
    }


#main2{
    height: 100%;
    /*  display: flex;
    align-items: center; */
    margin: auto;
    width: 90%;
}

    #main2 h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 75px;
    }

    #main2 img{
        margin-top: 75px;
        width: 80%;
    }


.crudedit1{
   /*  background-image: url(img/create.png); */
    margin: 10px;
    height: 250px;
    display: flex;
    align-items: center
}
    .crudedit1 img{
        margin-top: 0px!important;
    }

.crudedit2{
   /*  background-image: url(img/delete.jpg); */
    margin: 10px;
    height: 250px;
    display: flex;
    align-items: center
}

.crudedit3{
    /* background-image: url(img/edit.png); */
    margin: 10px;
    height: 250px;
    display: flex;
    align-items: center
}

#footer{
    background-color: rgba(0, 0, 0, 0.841);
    color: white;
    text-align: center;
    padding: 75px;
    font-size: small;
}
.deleteDecorationfooter a{
    text-decoration: none;
    color: white;
}
#linkedin:hover{
    color: rgba(10,102,194,255);
    }
    
    #twitter:hover{
    color: rgba(29,155,240,255);
    }
