body{
    font-family: 'Montserrat', sans-serif; 
}

#header{
    height: 600px;
   /*  display: flex;
    align-items: center; */
    margin: auto;
    width: 90%;
}

    #header h1{
    font-size: 3.7rem;
    font-weight: 700;
    margin-top: 75px;
    text-align:left;

    }
    #header img{
        margin-top: 75px;
        width: 80%;
        height: 80%;
    }


#main2{
    height: 1500px;
    /*  display: flex;
    align-items: center; */
    margin: auto;
    width: 90%;
}

    #main2 h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 75px;
    }

    #main2 img{
        margin-top: 75px;
        width: 80%;
        height: 80%;
    }


.crudedit1{
    background-image: url(img/marmol.jpg);
    margin: 10px;
    height: 250px;
    display: flex;
    align-items: center
}

.crudedit2{
    background-image: url(img/marmol.jpg);
    margin: 10px;
    height: 250px;
    display: flex;
    align-items: center
}

.crudedit3{
    background-image: url(img/marmol.jpg);
    margin: 10px;
    height: 250px;
    display: flex;
    align-items: center
}
