body{
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
    background-image: url(img/plan.png);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#empty{
    width: 100%;
    height: 500px;
}

#name{
    font-size: 4rem !important;
    color: white;
     
 }

#subtitle{
    margin-top: 0%;
}

.button{
    padding: 1em 2em;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    border: none;
    
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  
  }
  
  .button:hover {
    background-color: #023e8a;
    box-shadow: 0px 15px 20px #023d8a6b;
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button:active {
    transform: translateY(-1px);
}


div#container{
    width: 100%;
    height: 2250px;
    background-color: white;
    padding: 0% !important;
}

div#main{
    margin: auto;
    width: 90%;
    height: 1500px;
}
#arrowSpace{
    padding-top: 90px;
    font-size:80px
}

.deleteDecoration a{
    text-decoration: none;
    color: black;
}

#firstTitleProyects{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 40px;
    padding-top: 90px;
}

.generalTitle{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 40px;
    padding-top: 120px;
}

.projectsedit{
    background-image: url(img/marmol.jpg);
    margin: 10px;
    padding: 80px;
    height: 300px;
}

.technologies{
    font-size: 80px;
}

.techLineTop{
    margin-top: 170px;
}

.techLineBottom{
    margin-bottom:50px ;
}



  

