body{
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
    background-image: url(img/art2.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#empty{
    width: 100%;
    height: 500px;
}

#name{
    font-size: 4rem !important;
    color: white;
     
 }

#subtitle{
    margin-top: 0%;
}

.button{
    padding: 1em 2em;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    border: none;
    
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  
  }
  
  .button:hover {
    background-color: #023e8a;
    box-shadow: 0px 15px 20px #023d8a6b;
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button:active {
    transform: translateY(-1px);
}


div#container{
    width: 100%;
    height: 4000px;
    background-color: white;
    padding: 0% !important;
}

div#main{
    margin: auto;
    width: 90%;
    height: 4000px;
}
#arrowSpace{
    padding-top: 70px;
    font-size:80px
}

.deleteDecoration a{
    text-decoration: none;
    color: black;
}

#projects{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 50px;
    padding-top: 90px;
}

#aboutMe{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
    /* padding-top: 80px; */
}

.projectsedit{
    background-image: url(img/marmol.jpg);
    margin: 10px;
    padding: 80px;
    height: 300px;
}


.technologieshtml{
    transition: 200ms;
    font-size: 80px;
}
.technologieshtml:hover{
    transition: 200ms;
    font-size: 90px;
    color: rgba(228,77,38,255);
}
.technologiescss{
    transition: 200ms;
    font-size: 80px;
}
.technologiescss:hover{
    transition: 200ms;
    font-size: 90px;
}
.technologiesjs{
    transition: 200ms;
    font-size: 80px;
}
.technologiesjs:hover{
    transition: 200ms;
    font-size: 90px;
}
.technologiesphp{
    transition: 200ms;
    font-size: 80px;
}
.technologiesphp:hover{
    transition: 200ms;
    font-size: 90px;
}




.techLineTop{
    margin-top: 170px;
}

.techLineBottom{
    margin-bottom:50px ;
}

#aboutMeCont{
    background-color: rgba(0, 0, 0, 0.841);
    margin-top: 130px;
    margin-bottom: 130px;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    
    
}
.text-right {
    text-align: right!important;
}

#hr3Space{
margin-top: 150px;
margin-bottom: 50px;
}

/* FORM */
#contactMe{
    padding-top: 100px;
}


#contactMeTitle{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 50px;
}

.form-control {
    background-color: #f3f3f3;
    border: none;
    /* height: calc(1.5em + 0.75rem + 2px); */
    margin: 10px;
    /* font-size: 18px!important; */
}
.submit{
    border: none;
    height: 75%;
    margin: 10px;
    /* font-size: 18px!important; */
    text-decoration: none!important;
    background-color: rgba(0, 0, 0, 0.841);
    color: white;
    width: 70%;
    transition: 600ms;
}
.submit:hover{
    border: none;
    margin: 15px;
    font-size: 18px!important;
    text-decoration: none!important;
    background-color: black;
    color: white;
    width: 35%;
    transition: 500ms;
    height: 70%;
    
    
}




  

